@import '../../../sass/variables.scss';

header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
  margin-bottom: 50px;
  width: 100%;

  h1 {
    color: $text-dark;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 20px 0;
  }

  p {
    color: $text-light;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
  }
}

.question,
.email-container {
  align-items: center;
  border: 1px solid $border-color-secondary;
  border-radius: 4px;
  display: flex;
  font-family: $primary-font;
  flex-direction: column;
  justify-content: center;
  min-height: 155px;
  padding: 0 50px;
}

.email-container {
  box-sizing: border-box;
  padding: 20px 85px 40px 85px;

  input {
    border: 2px solid $border-color-primary;
    border-radius: 4px;
    box-sizing: border-box;
    color: $text-light;
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
  }

  input::placeholder {
    color: $placeholder;
    font-family: $primary-font;
    font-size: 18px;
    font-weight: bold;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 740px;

  > button {
    background-color: $accent-primary;
    border: none;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    height: 36px;
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 16px;
    margin-top: 40px;
    margin: 40px auto;
    width: 155px;
  }

  > button:hover {
    background-color: darken($accent-primary, 5);
  }
}

.submission-error {
  color: $danger;
  margin-top: 10px;
}