/* Fonts */
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Roboto', sans-serif;

/* Colors */
$text-dark: #113264;
$text-medium: #343a40;
$text-light: #495057;
$placeholder: #e5e5e5;

$accent-primary: #3d59fa; 
$success: #00A079;
$danger: #FA4344;
$white: #ffffff;

$input-color: #aaaaaa;
$input-color-hover: #999999;

$border-color-primary: #aaaaaa;
$border-color-secondary: #e5e5e5;

$results-bar-empty: #e9ecef;
$results-bar-full: #A920CB;